<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.udp_tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- BEGIN Permission needed for AR Core -->
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- END Permission needed for AR Core -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- BEGIN AR Core -->
        <!-- Indicates that the app supports, but does not require ARCore ("AR Optional").
         Unlike "AR Required" apps, the Google Play Store will not automatically
         download and install Google Play Services for AR when the app is installed.
        -->
        <meta-data android:name="com.google.ar.core" android:value="optional" />
        <!-- END AR Core -->
    </application>

</manifest>